[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "vendor/DirectXTex"]
	path = vendor/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
	branch = master
[submodule "vendor/libpng"]
	path = vendor/libpng
	url = https://github.com/glennrp/libpng.git
	branch = libpng16
